$def with ()

<style type="text/css">
#row_prototype {display: none;}
#error {display: none}
</style>

<script type="application/javascript">
var count = 0
var errors = false;

function clone_row(ix) {
	var new_row = $$("#row_prototype").clone(true);
	new_row.attr("id", "row_" + ix);
	
	var inputs = $$("input", new_row)
	for (i=0; i<inputs.length; i++) {
		inputs[i].setAttribute("name", inputs[i].name + ix)
		inputs[i].setAttribute("id", inputs[i].name)
	}
		
	inputs = $$("select", new_row)
	for (i=0; i<inputs.length; i++) {
		inputs[i].setAttribute("name", inputs[i].name + ix)
		inputs[i].setAttribute("id", inputs[i].name)
	}
		
	$$("#erfahrungform").append(new_row)
}

function validate(el, state) {
	var e = $$("#" + el)
	//console.log(el + " " + e.val())
	if (!e.val()) {
		e.parent().addClass("has-error")
		errors = true;
	} else {
		e.parent().removeClass("has-error")
		if (e.attr("placeholder") == "Jahr") {
			// must be greater than 1950
			if (parseInt(e.val()) > 1900) {
				e.parent().removeClass("has-error")
			}	else {
				e.parent().addClass("has-error")
				errors = true
			}
		}
	}
}

function collect() {
	result = []
	errors = false;
	for (i=0; i<count; i++) {
		//console.log(i)
		row = {
			was: $$("#was_"+i).val(),
			ort: $$("#ort_"+i).val(),
			von: "" + $$("#von_j_"+i).val(),
			dauer: "" + $$("#dauer_"+i).val()
		}
		
		//console.log(row.was)
		//console.log(row.ort)
		if (row.was || row.ort) {
			
			// validate
			if (!row.was) row.was = "";
			if (!row.ort) row.ort = "";
			
			validate("von_j_"+i);
			validate("dauer_"+i);
			
			result[i] = row;
		}
	}
	
	if (errors)
		$$("#error").css("display", "block");
	else
		$$("#error").css("display", "none");
	
	console.log(result)
}
</script>

<h1>
<span class="glyphicon glyphicon-book"></span>
Anästhesie Erfahrung</h1>


<div class="alert alert-danger" role="alert" id="error">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
	Bitte füllen Sie die rot markierten Felder korrekt aus.
</div>

<form class="form-inline row" id="erfahrungform">
	
	<div id="row_prototype">
		<div class="col-sm-5 col-xs-12">
			<input type="text" value="" name="was_" id="was_" size="12" class="form-control" placeholder="Rotation"/>
			<input type="text" value="" name="ort_" id="ort_" size="10" class="form-control" placeholder="Ort"/>
		</div>
	
	
		<div class="col-sm-7 col-xs-12">
			<div class="form-group">
				<label>Beginn: </label>
				<input type="number" value="" name="von_j_" id="von_j_" size="4" class="form-control" placeholder="Jahr" min="1950" max="2100" step="1"/>
			</div>

			<div class="form-group">
				<label>Dauer: </label>
				<input type="number" value="" name="dauer_" id="dauer_" size="2" class="form-control" placeholder="Monate" min="1" max="100"  step="1"/>
			</div>
		</div>
	</div>
	
</form>

<button class="btn" onclick="clone_row(count++)">
<span class="glyphicon glyphicon-plus"></span>
Mehr</button>
<button class="btn" onclick="collect()">
<span class="glyphicon glyphicon-floppy-disk"></span>
Speichern</button>

<h1>
<span class="glyphicon glyphicon-book"></span>
Weiterbildungen</h1>

