$def with (pid, erfahrung)

<style type="text/css">
#row_prototype {display: none;}
#error {display: none}
.fortbildung div label {width: 15em;}
</style>

<script type="application/javascript">

var erfahrung = {
	count: 0,
	errors: false,

	clone_row: function(ix, was, wo, jahr, monate) {
		
		if (was && was.substr(0, 2) == '**') {
			
			nm = was.substr(2)
			//console.log(nm)
			
			if (nm == "atls") {
				$$("#atls").attr('checked', true);
				$$("#atls_ort").val(wo)
				$$("#atls_j").val(jahr)
			}
			
			if (nm == "acls") {
				$$("#acls").attr('checked', true);
				$$("#acls_ort").val(wo)
				$$("#acls_j").val(jahr)
			}
			
			if (nm == "pals") {
				$$("#pals").attr('checked', true);
				$$("#pals_ort").val(wo)
				$$("#pals_j").val(jahr)
			}
			
			if (nm == "notarzt") {
				$$("#notarzt").attr('checked', true);
				$$("#notarzt_ort").val(wo)
				$$("#notarzt_j").val(jahr)
			}
			
			if (nm == "facharzt") {
				$$("#facharzt").attr('checked', true);
				$$("#facharzt_j").val(jahr)
			}
			
			if (nm == "ana_schriftlich") {
				$$("#ana_schriftlich").attr('checked', true);
				$$("#ana_schriftlich_j").val(jahr)
			}
			
			if (nm == "ana_muendlich") {
				$$("#ana_muendlich").attr('checked', true);
				$$("#ana_muendlich_j").val(jahr)
			}
			
			if (nm == "intensiv_schriftlich") {
				$$("#intensiv_schriftlich").attr('checked', true);
				$$("#intensiv_schriftlich_j").val(jahr)
			}
			
			if (nm == "intensiv_muendlich") {
				$$("#intensiv_muendlich").attr('checked', true);
				$$("#intensiv_muendlich_j").val(jahr)
			}
			
			erfahrung.count--
			return true;
		}
		
		
		var new_row = $$("#row_prototype").clone(true);
		new_row.attr("id", "row_" + ix);
	
		var inputs = $$("input", new_row)
		for (i=0; i<inputs.length; i++) {
			inputs[i].setAttribute("name", inputs[i].name + ix)
			inputs[i].setAttribute("id", inputs[i].name)
		}
		
		inputs = $$("select", new_row)
		for (i=0; i<inputs.length; i++) {
			inputs[i].setAttribute("name", inputs[i].name + ix)
			inputs[i].setAttribute("id", inputs[i].name)
		}
		
		$$("#erfahrungform").append(new_row)
		$$("#was_"+ix).val(was)
		$$("#ort_"+ix).val(wo)
		$$("#von_j_"+ix).val(jahr)
		$$("#dauer_"+ix).val(monate)
	},

	validate: function(el, state) {
		var e = $$("#" + el)
		//console.log(el + " " + e.val())
		if (!e.val()) {
			e.parent().addClass("has-error")
			//erfahrung.errors = true;
			return false
		} else {
			e.parent().removeClass("has-error")
			if (e.attr("placeholder") == "Jahr") {
				// must be greater than 1950
				if (parseInt(e.val()) > 1900) {
					e.parent().removeClass("has-error")
					//erfahrung.errors = true
					return true
				}	else {
					e.parent().addClass("has-error")
					//erfahrung.errors = true
					return false
				}
			}
		}
		return true;
	},

	collect: function() {
		result = []
		erfahrung.errors = false;
		for (i=0; i<erfahrung.count; i++) {
			//console.log(i)
			row = {
				was: $$("#was_"+i).val(),
				ort: $$("#ort_"+i).val(),
				von: "" + $$("#von_j_"+i).val(),
				dauer: "" + $$("#dauer_"+i).val()
			}
		
			//console.log(row.was)
			//console.log(row.ort)
			if (row.was || row.ort) {
			
				// validate
				if (!row.was) row.was = "";
				if (!row.ort) row.ort = "";
				
				if (
					erfahrung.validate("was_"+i) &&
					erfahrung.validate("ort_"+i) &&
					erfahrung.validate("von_j_"+i) &&
					erfahrung.validate("dauer_"+i) ) {
					//$$("#error").removeClass("has-error")
				} else {
					//$$("#error").addClass("has-error")
					erfahrung.errors = true;
				}
			
				result[i] = row;
			}
		}
		console.log(erfahrung.errors)
	
		if (erfahrung.errors) {
			$$("#error").css("display", "block");
			return
		}
		
		$$("#error").css("display", "none");
		
		// collect ATLS / ACLS PALS
		
		if (e = $$("#atls").is(":checked")) {
			result[result.length] = {
				was: "**atls",
				ort: $$("#atls_ort").val(),
				von: "" + $$("#atls_j").val(),
				dauer: null
			}
		}
		
		if (e = $$("#acls").is(":checked")) {
			result[result.length] = {
				was: "**acls",
				ort: $$("#acls_ort").val(),
				von: "" + $$("#acls_j").val(),
				dauer: null
			}
		}
		
		if (e = $$("#pals").is(":checked")) {
			result[result.length] = {
				was: "**pals",
				ort: $$("#pals_ort").val(),
				von: "" + $$("#pals_j").val(),
				dauer: null
			}
		}
		
		if (e = $$("#notarzt").is(":checked")) {
			result[result.length] = {
				was: "**notarzt",
				ort: $$("#notarzt_ort").val(),
				von: "" + $$("#notarzt_j").val(),
				dauer: null
			}
		}
		
		if (e = $$("#facharzt").is(":checked")) {
			result[result.length] = {
				was: "**facharzt",
				ort: null,
				von: "" + $$("#facharzt_j").val(),
				dauer: null
			}
		}
		
		if (e = $$("#ana_schriftlich").is(":checked")) {
			result[result.length] = {
				was: "**ana_schriftlich",
				ort: null,
				von: "" + $$("#ana_schriftlich_j").val(),
				dauer: null
			}
		}
		
		if (e = $$("#ana_muendlich").is(":checked")) {
			result[result.length] = {
				was: "**ana_muendlich",
				ort: null,
				von: "" + $$("#ana_muendlich_j").val(),
				dauer: null
			}
		}

		if (e = $$("#intensiv_schriftlich").is(":checked")) {
			result[result.length] = {
				was: "**intensiv_schriftlich",
				ort: null,
				von: "" + $$("#intensiv_schriftlich_j").val(),
				dauer: null
			}
		}

		if (e = $$("#intensiv_muendlich").is(":checked")) {
			result[result.length] = {
				was: "**intensiv_muendlich",
				ort: null,
				von: "" + $$("#intensiv_muendlich_j").val(),
				dauer: null
			}
		}
		
		console.log(result)
		
		$$.ajax({
			type: "POST",
			url: "erfahrung/" + app.selected_pid,
			// The key needs to match your method's input parameter (case-sensitive).
			data: JSON.stringify({ erfahrung: result }),
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function(data){
				app.log(data);
			},
			failure: function(errMsg) {
				alert(errMsg);
			}
		});

		//app.log(result)
	}
}

add_load_handler(function() {
	if (erfahrung.count == 0) {
		$for e in erfahrung:
			erfahrung.clone_row(erfahrung.count++, '$e.was', '$e.ort', $e.von_mj, '$e.monate')
		
	}
	erfahrung.clone_row(erfahrung.count++)
	erfahrung.clone_row(erfahrung.count++)
})
</script>

<h1>
<span class="glyphicon glyphicon-book"></span>
Anästhesie Erfahrung</h1>

<form class="form-inline row" id="erfahrungform" method="post" action="">

<div id="row_prototype">
	<div class="col-sm-2 col-xs-5">
		<input type="text" value="" name="was_" id="was_" size="12" class="form-control" placeholder="Rotation" required = "required"/>
	</div>
	<div class="col-sm-3 col-xs-7">
		<input type="text" value="" name="ort_" id="ort_" size="25" class="form-control" placeholder="Ort" required = "required"/>
	</div>
	
	<div class="col-sm-7 col-xs-12">
		<div class="form-group">
			<label>Beginn: </label>
			<input type="number" value="" name="von_j_" id="von_j_" size="4" class="form-control" placeholder="Jahr" min="1900" max="2100" step="1" required = "required"/>
		</div>

		<div class="form-group">
			<label>Dauer: </label>
			<input type="number" value="" name="dauer_" id="dauer_" size="2" class="form-control" placeholder="Monate" min="1" max="100"  step="1" required = "required"/>
		</div>
	</div>
</div>

<div class="alert alert-danger" role="alert" id="error">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
	Bitte füllen Sie die rot markierten Felder korrekt aus.
</div>

</form>

<button class="btn" onclick="erfahrung.clone_row(erfahrung.count++)">
<span class="glyphicon glyphicon-plus"></span>
Mehr</button>

<h1>
<span class="glyphicon glyphicon-book"></span>
Weiterbildungen</h1>

<form class="form-inline row" id="fbform" method="post" action="erfahrung/wb/$pid">

	<div class="col-sm-6 col-xs-12 fortbildung">
		
		<div class="checkbox">
			<label>
				<input type="checkbox" name="facharzt" id="facharzt"/> Facharzprüfung
			</label>
			<input type="number" value="" name="facharzt_j" id="facharzt_j" size="4" class="form-control" placeholder="Jahr" min="1950" max="2100" step="1"/>
			<input type="hidden" value="" name="facharzt_ort" id="facharzt_ort" size="25" class="form-control" placeholder="Ort"/>
		</div>
		
		<div class="checkbox">
			<label>
				<input type="checkbox" name="ana_schriftlich" id="ana_schriftlich"/> Anästhesie schriftlich
			</label>
			<input type="number" value="" name="ana_schriftlich_j" id="ana_schriftlich_j" size="4" class="form-control" placeholder="Jahr" min="1950" max="2100" step="1"/>
			<input type="hidden" value="" name="ana_schriftlich_ort" id="ana_schriftlich_ort" size="25" class="form-control" placeholder="Ort"/>
		</div>
		
		<div class="checkbox">
			<label>
				<input type="checkbox" name="ana_muendlich" id="ana_muendlich"/> Anästhesie mündlich
			</label>
			<input type="number" value="" name="ana_muendlich_j" id="ana_muendlich_j" size="4" class="form-control" placeholder="Jahr" min="1950" max="2100" step="1"/>
			<input type="hidden" value="" name="ana_muendlich_ort" id="ana_muendlich_ort" size="25" class="form-control" placeholder="Ort"/>
		</div>
		
		<div class="checkbox">
			<label>
				<input type="checkbox" name="intensiv_schriftlich" id="intensiv_schriftlich"/> Intensivmedizin schriftlich
			</label>
			<input type="number" value="" name="intensiv_schriftlich_j" id="intensiv_schriftlich_j" size="4" class="form-control" placeholder="Jahr" min="1950" max="2100" step="1"/>
			<input type="hidden" value="" name="intensiv_schriftlich_ort" id="intensiv_schriftlich_ort" size="25" class="form-control" placeholder="Ort"/>
		</div>
		
		<div class="checkbox">
			<label>
				<input type="checkbox" name="intensiv_muendlich" id="intensiv_muendlich"/> Intensivmedizin mündlich
			</label>
			<input type="number" value="" name="intensiv_muendlich_j" id="intensiv_muendlich_j" size="4" class="form-control" placeholder="Jahr" min="1950" max="2100" step="1"/>
			<input type="hidden" value="" name="intensiv_muendlich_ort" id="intensiv_muendlich_ort" size="25" class="form-control" placeholder="Ort"/>
		</div>

		<div class="checkbox">
			<label>
				<input type="checkbox" name="atls" id="atls"/> ATLS
			</label>
			<input type="number" value="" name="atls_j" id="atls_j" size="4" class="form-control" placeholder="Jahr" min="1950" max="2100" step="1"/>
			<input type="text" value="" name="atls_ort" id="atls_ort" size="25" class="form-control" placeholder="Ort"/>
		</div>	
		<div class="checkbox">
			<label>
				<input type="checkbox" name="acls" id="acls"/> ACLS
			</label>
			<input type="number" value="" name="acls_j" id="acls_j" size="4" class="form-control" placeholder="Jahr" min="1950" max="2100" step="1"/>
			<input type="text" value="" name="acls_ort" id="acls_ort" size="25" class="form-control" placeholder="Ort"/>
		</div>	
		<div class="checkbox">
			<label>
				<input type="checkbox" name="pals" id="pals"/> PALS
			</label>
			<input type="number" value="" name="pals_j" id="pals_j" size="4" class="form-control" placeholder="Jahr" min="1950" max="2100" step="1"/>
			<input type="text" value="" name="pals_ort" id="pals_ort" size="25" class="form-control" placeholder="Ort"/>
		</div>
		
		<div class="checkbox">
			<label>
				<input type="checkbox" name="notarzt" id="notarzt"/> Notarzt
			</label>
			<input type="number" value="" name="notarzt_j" id="notarzt_j" size="4" class="form-control" placeholder="Jahr" min="1950" max="2100" step="1"/>
			<input type="text" value="" name="notarzt_ort" id="notarzt_ort" size="25" class="form-control" placeholder="Ort"/>
		</div>

	</div>
</form>

<button class="btn" onclick="erfahrung.collect()">
<span class="glyphicon glyphicon-floppy-disk"></span>
Speichern</button>

