$def with (person, wunsch)
<!--
<ul class="list-group" id="users">
</ul>
<script type="application/javascript">add_load_handler(load_personal);</script>
-->

<h1>$person.name $person.vorname ($person.kuerzel)</h1>
<style type="text/css">
	.portrait {
		background-image: url(/image/$person.pid);
		background-repeat: no-repeat; 
		background-size: 100% auto;
	}
</style>


<div class="row">
	<div class="col-sm-4 col-xs-12">
		
		<div class="portrait">
			<div class="inner">
		  <span class="btn btn-info fileinput-button">
		      <span class="glyphicon glyphicon-camera" style="font-size: 3em;"></span>
		      <!-- The file input field used as target for the file upload widget -->
		      <input id="fileupload" type="file" name="file" accept="image/*;capture=camera"/>
		  </span>
		  </div>
		</div>
		
    <!-- The global progress bar -->
    <div id="progress" class="progress" style="display: none">
        <div class="progress-bar progress-bar-success"></div>
    </div>	
		<br />
		<br />
		
	<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Wünsche</div>

  <!-- Table -->
  <table class="table">
    <thead>
    	<tr>
    		<th>Prio</th>
    		<th>Rotation</th>
    	</tr>
    </thead>
    <tbody>
    $for w in wunsch:
    	<tr>
    		<td class="prio">$:wunsch_prio(w.prio)</td>
    		<td>$w.rot.name</td>
    	</tr>
    	
    	
    </tbody>
  </table>
</div>
		
		
	</div>
	<div class="col-sm-4 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">Notiz</div>
			<div class="panel-body">
			
				<div class="form-group">
					<textarea class="form-control" rows="1" name="comment" id="comment" onfocus="notes.focus(this)"></textarea>
				</div>
				
				<div id="notiz_controls" style="display: none;">
					<div class="form-group">
						<label>Typ</label>
						<div class="btn-group input-group" data-toggle="buttons">
							<label class="btn btn-default active">
								<input type="radio" name="type" id="inputWalls" value="notiz" checked>
								<span class="glyphicon glyphicon-pencil"></span> Notiz
							</label>
							<label class="btn btn-default">
								<input type="radio" name="type" id="inputWalls" value="task">
								<span class="glyphicon glyphicon-list-alt"></span> Task
							</label>
						</div>
					</div>
				
					<div class="form-group">
						<label>Bis</label>
						<div class="input-append input-group date" id="von">
							<input class="form-control" type="text" value=""/>
							<label for="von" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span></label>
						</div>
					</div>
					
					<hr />
					<div class="pull-right">
						$:btn_ok()
						$:btn_cancel(onclick='notes.collapse(this)')
					</div>
					
				</div> <!-- end notiz_controls -->
			</div><!-- end panel-body -->
		</div>
	</div>
	<div class="col-sm-4 col-xs-12">
		Vertrag
	</div>
</div>

<script>
function init_upload() {
	/*jslint unparam: true */
	/*global window, $$ */
	$$(function () {
		  'use strict';
		  // Change this to the location of your server-side upload handler:
		  var url = '/image';
		  $$('#fileupload').fileupload({
		      url: url,
		      dataType: 'json',
		      done: function (e, data) {
		          $$.each(data.result.files, function (index, file) {
		              //$$('<p/>').text(file.name).appendTo('#file');
		          });
		          $$('#progress').css("display", "none");
		          alert("done")
		      },
		      progressall: function (e, data) {
		          $$('#progress').css("display", "block");
		          //alert("progress")
		          var progress = parseInt(data.loaded / data.total * 100, 10);
		          $$('#progress .progress-bar').css(
		              'width',
		              progress + '%'
		          );
		      },
		      fail: function (e, data) {
	          $$('#progress').css("display", "none");
		      	alert("Failed, need to send proper response from serevr")
		      }
		  }).prop('disabled', !$$.support.fileInput)
		      .parent().addClass($$.support.fileInput ? undefined : 'disabled');
	});
}
add_load_handler(init_upload);
</script>
