$def with (ctx, tags, RotNoteType)


<!--
TODO:
 - display oldest first
 
 - left column: tasks that are older than today
   * sort oldest on top
 - right column: today >= + 1 month
   * sort by tag
-->


<div class="row">
	$for t in tags:
		<div class="col-sm-4 col-xs-12">
		
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">$t.name</div>
				<div class="panel-body">
					$for n in t.rotnotes:
						$ glyph = RotNoteType[n.type][1]
						<div>
							<span class="glyphicon $glyph"></span>
							<!--$n.personal.name $n.personal.vorname (-->
							<span>$n.personal.name $n.personal.vorname ($n.personal.kuerzel)</span>
							$if n.bis:
								$n.bis.strftime("%d.%m.%Y")
							
							<div style="float: left; height: 4em; margin-right: 0.5em;">
								
								$if len(n.personal.rot_pers) > 0:
									<img style="width: 50px;" src="static/thumbnails/${n.pid}_thumbnail.jpg" alt="Portrait">
								$else:
									<img style="width: 50px;" src="static/avatar.svg" alt="Portrait">
							</div>
							<br/>	
								
							$strip_tags(n.comment[:100])
							
							<br />
							$if len(n.tags):
								<span class="glyphicon glyphicon-tags"></span>
								$for t in n.tags:
									$t.name
							<div style="clear: both;"></div>
							<br />
						</div>
						
				</div>
			</div>
		</div>
</div>
