<!DOCTYPE html>
<html lang="en">
  <head>
  	$if ctx.path != "/":
			$ c = 0
			$ relpath = ""
			$for i in range(1, ctx.path.count("/")):
				$ relpath = relpath + "../"
			<base href="$relpath">
		
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rotationsplanung">
    <meta name="author" content="Simon Wunderlin">
    <link rel="icon" href="favicon.ico">

    <title>Rotationswunsch</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="static/bootstrap-datetimepicker-master/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="static/assets/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="static/assets/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
		<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
		<link rel="stylesheet" href="static/upload/css/jquery.fileupload.css">
		<link rel="stylesheet" href="static/wysiwyg/bootstrap3-wysihtml5.css">
		
    <!-- Custom styles for this template -->
    <link href="static/assets/template.css" rel="stylesheet">
    
		<script src="static/assets/moment.js"></script>
    <script src="static/assets/jquery.min.js"></script>
    
    <!-- load jquery ui -->
		<link rel="stylesheet" href="static/jquery-ui-1.11.4.custom/jquery-ui.css">
    <script src="static/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    
    
    <script src="static/application.js"></script>
    <!--script src="typeahead"></script-->
    <script src="static/typeahead.js/typeahead.bundle.min.js"></script>
		<script src="static/bootstrap-datetimepicker-master/build/js/bootstrap-datetimepicker.min.js"></script>
		<!--script src="static/assets/bootstrap-wysihtml5-0.0.2.min.js"></script-->
		<script src="static/wysiwyg/bootstrap3-wysihtml5.all.js"></script>
		<!-- tags library -->
		<link rel="stylesheet" href="static/tag-it/css/jquery.tagit.css">
		<script src="static/tag-it/js/tag-it.js"></script>
		
	<script type="application/javascript">
	function byId(id) {return document.getElementById(id);}
	function log_status(txt) {
		document.getElementById('info').innerHTML = txt;
		document.getElementById('info').style.display = "block"
	}
	
	function auth() {
		var params = {
			username: byId("username").value,
			password: byId("password").value
		};
		
		var r = new XMLHttpRequest();
		r.open("POST", "/login", true);
		r.setRequestHeader("Content-Type","application/json; charset=utf-8");
		r.onreadystatechange = function () {
			/*
			switch (r.readyState) {
				case 0:
					log_status('request not initialized. Status: ' + r.statusText);
					break;
				case 1:
					log_status('server connection established. Status: ' + r.statusText);
					break;
				case 2:
					log_status('request received. Status: ' + r.statusText);
					break;
				case 3:
					log_status('processing request. Status: ' + r.statusText);
					break;
				case 4:
					log_status('request finished and response is ready. Status: ' + r.statusText);
					break;
			}
			*/
			
			if (r.readyState == 4 && r.status == 200) {
				data = JSON.parse(r.responseText);
				console.log(data)
				if (data.error == 1) {
					log_status('Response contains an error.')
				}
				
				if (data.success == true) {
					// reload page
					document.location.href = document.location.href
					return true;
				}
				
				var msg = "Login Error";
				if (data.message)
					msg = data.message;
				log_status(msg)
				return
			}
		}
		r.send(JSON.stringify(params));
	}
	</script>		
		<style type="text/css">
			.panel-heading {font-weight: bold;}
			#info {display: none;}
		</style>
  </head>

  <body>
  <!--
	homedomain: $ctx.homedomain<br/>
	home: $ctx.home<br/>
	homepath: $ctx.homepath<br/>
	path: $ctx.path $ctx.path.count("/") <br/>
	-->
	
    <!--nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        
        <div class="navbar-header pull-left">
          <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-retweet"></span></a>
        </div>
        
        <div class="navbar-header pull-right">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
				
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li id="nav_personal"><a href="/personal">Mitarbeiter</a></li>
            <li id="nav_wunsch"><a href="/wunsch">Wünsche</a></li>
            <li id="nav_test"><a href="/test">Test Json</a></li>
          </ul>

				  <form class="navbar-form navbar-right" role="search">
				    <div class="form-group">
				      <input type="text" class="form-control typeahead" placeholder="Search">
				    </div>
				  </form>
        </div><!- -/.nav-collapse - ->
      </div>
    </nav-->


<div class="navbar navbar-default navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand hidden-xs" href="./"><span class="glyphicon glyphicon-retweet"></span></a>
         <a class="navbar-brand visible-xs" href="./"><span class="glyphicon glyphicon-retweet"></span></a>
         <!--
         <form class="navbar-form pull-left" role="search">
            <div class="input-group">
               <!- -input type="text" class="form-control" placeholder="Search"- ->
               <input type="text" class="form-control typeahead" placeholder="Name">
               <!- -div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
               </div- ->
            </div>
         </form>
         -->
      </div>
      
      <div class="navbar-collapse collapse">
      </div>
      <!--/.navbar-collapse -->
   </div>
</div>

    <div class="container">


		<div class=" col-sm-4"></div>
		<div class=" col-sm-4">
		
		
			<div class="panel panel-info">
				<div class="panel-heading">
					<strong>
					<span class="glyphicon glyphicon-lock"></span> Login
					</strong>
				</div>
				<div class="panel-body">

	<div id="info" class="alert alert-danger"></div>
	<form>
		<div class="form-group">
			<label for="username">Benutzer</label>
			<input type="text" name="username" id="username" value="" class="form-control" placeholder="Novell Benutzername" autofocus="autofocus"/>
		</div>
		<div class="form-group">
			<label for="password">Passwort</label>
			<input type="password" name="password" id="password" value="" class="form-control"/>
		</div>
		<input type="button" onclick="auth()" value="Login" class="btn btn-default"/>
	
	</form>

				</div>
			</div>
		
		</div>
		<div class=" col-sm-4"></div>


		</div><!-- /.container -->


		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="static/bootstrap/js/bootstrap.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="static/assets/ie10-viewport-bug-workaround.js"></script>

		</body>
</html>



