$def with (group, user, wunsch, dates, history)
	
	<div style="float:right;">
		<form method="GET">
		
		History:
		<select name="history" onchange="this.form.submit()">
			<option value="">Aktuell</option>
			$for d in dates:
				$if history and d.strftime("%d.%m.%Y") == history.strftime("%d.%m.%Y"):
					<option value="$d.strftime('%d.%m.%Y')" selected="select">$d.strftime("%d.%m.%Y")</option>
				$else:
					<option value="$d.strftime('%d.%m.%Y')">$d.strftime("%d.%m.%Y")</option>
		</select>
		</form>
	</div>

	<h1>$user.vorname $user.name</h1>
	

<form method="POST" action="/wunsch_save">
$for g in group:
	<div class="row">
		<div class="col-md-10">
			<h3>$g.name</h3>
		</div>
	</div>
	
	<div class="row">
			<div class="col-sm-8 col-xs-12">
			</div>
			<div class="col-sm-1 col-xs-4">
				Wunsch
			</div>
			<div class="col-sm-1 col-xs-4">
				Prio
			</div>
			<div class="col-sm-2 text-center col-xs-4">
					Dauer
			</div>
	</div>


	<div class="row">
		$for r in g.rot:
			<div class="col-sm-8 col-xs-12">
				$r.name
				$if r.erstjahr:
					<span class="badge">1. Jahr</span>
			</div>
			<div class="col-sm-1 col-xs-4">
				$:wunsch_select_wunsch(r.id, wunsch[r.id])
			</div>
			<div class="col-sm-1 col-xs-4">
				$:wunsch_select_prio(r.id, wunsch[r.id])

			</div>
			<div class="col-sm-2 text-center col-xs-4">
					$r.dauer_von
					$if r.dauer_von != r.dauer_bis: 
						- $r.dauer_bis
			</div>
	</div>

<hr />
<input type="hidden" name="pid" value="$user.pid">
<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span> Speichern</button>
</form>

